

@mixin box($color) {
   background: $color;
   width: 70px;
   height: 70px;
   margin: 0 30px 20px 0;
 }

.container {
   max-width: 1920px;
   min-width: 320px;
   margin: auto;
   padding: auto;
}

.wrapper {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

p {
   display: flex;
   flex-direction: row;
}

.card {
   display: flex;
   flex-direction: column;
  &__block {
    display: flex;
    display: row;
  }
  &__box {
      &_dark-shade-100 {
      @include box($dark-shade-100);
    }
    &_dark-shade-75 {
      @include box($dark-shade-75);
    }
    &_dark-shade-50 {
      @include box($dark-shade-50);
    }
    &_dark-shade-25 {
      @include box($dark-shade-25);;
    }
    &_dark-shade-05 {
      @include box($dark-shade-05);;
    }
    &_purple {
      @include box($purple);
    }
    &_green {
      @include box($green);
  }
}