doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    title Colors&Types
    link(rel="stylesheet" href="colors_and_types.scss")
  body.container
    .wrapper
      .card
        .card__color
          .card__box_dark-shade-100
          .card__discription
            .card__name Dark-shade-100
            .card__code #1F2041
        .card__color
          .card__box_dark-shade-75
          .card__discription
            .card__name Dark-shade-75
            .card__code #1F2041
        .card__color
          .card__box_dark-shade-50
          .card__discription
            .card__name Dark-shade-50
            .card__code #1F2041
        .card__color
          .card__box_dark-shade-25
          .card__discription
            .card__name Dark-shade-25
            .card__code #1F2041
        .card__color
          .card__box_dark-shade-05
          .card__discription
            .card__name Dark-shade-05
            .card__code #1F2041
        .card__color
          .card__box_purple
          .card__discription
            .card__name Purple
            .card__code #BC9CFF
        .card__color
          .card__box_green
          .card__discription
            .card__name Green
            .card__code #6FCF97
      .card
        .card__text.card__text_size_h1
          .card__tag h1
          .card__task This one is the sub-section or widget title
        .card__text.card__text_size_h2
          .card__tag h2
          .card__task Next one is the item title inside widgets
        .card__text.card__text_size_h3
          .card__tag h3
          .card__task This is a label or CTA text
        .card__text.card__text_size_body
          .card__tag body
          .card__task.card__task_weight This is the body text which is used for most of the design, like paragraphs, lists, etc.         