doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    title Colors&Types
  body.container
    .wrapper
      .card
        .card__block
          .card__box_dark-shade-100
          .card__text
            p.card__font-bond Dark-shade-100
            p.card__font-normal #1F2041
        .card__block
          .card__box_dark-shade-75
          .card__text
            p.card__font-bond Dark-shade-75
            p.card__font-normal #1F2041
        .card__block
          .card__box_dark-shade-50
          .card__text
            p.card__font-bond Dark-shade-50
            p.card__font-normal #1F2041
        .card__block
          .card__box_dark-shade-25
          .card__text
            p.card__font-bond Dark-shade-25
            p.card__font-normal #1F2041
        .card__block
          .card__box_dark-shade-05
          .card__text
            p.card__font-bond Dark-shade-05
            p.card__font-normal #1F2041
        .card__block
          .card__box_purple
          .card__text
            p.card__font-bond Purple
            p.card__font-normal #BC9CFF
        .card__block
          .card__box_green
          .card__text
            p.card__font-bond Green
            p.card__font-normal #6FCF97
      .card
        .card__block
          p.card__type_size-h1 h1
          p.card__font-bond_size-h1 This one is the sub-section or widget title
        .card__block
          p.card__type_size-h2 h2
          p.card__font-bond_size-h2 Next one is the item title inside widgets
        .card__block
          p.card__type_dark_size-h3 h3
          p.card__font-bond_size-h3 This is a label or CTA text
        .card__block
          p.card__type_dark_size-body body
          p.card__font-bond_size-body This is the body text which is used for most of the design, like paragraphs, lists, etc.         